@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?i64t1g');
    src: url('../fonts/icomoon.eot?i64t1g#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?i64t1g') format('truetype'),
        url('../fonts/icomoon.woff?i64t1g') format('woff'),
        url('../fonts/icomoon.svg?i64t1g#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-history:before {
    content: "\e902";
}

.icon-money:before {
    content: "\e901";
}

.icon-diamond:before {
    content: "\e900";
}

.icon-location2:before {
    content: "\e948";
}

.icon-history1:before {
    content: "\e94d";
}

.icon-sphere:before {
    content: "\e9c9";
}

.icon-eye:before {
    content: "\e9ce";
}

.icon-star-empty:before {
    content: "\e9d7";
}

.icon-star-half:before {
    content: "\e9d8";
}

.icon-star-full:before {
    content: "\e9d9";
}

.icon-minus:before {
    content: "\ea0b";
}


* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

div {
    display: block;
}

.main {
    background-color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.company-banner {
    max-width: 1200px;
    margin: 0;
    position: relative;

    .text-overlay {
        padding: 10px;
    }

    .image-holder {
        text-align: center;
    }
}

.text-overlay {
    position: absolute;
    left: 15px;
    bottom: 15px;
    overflow: hidden;
    background-color: white;
    padding: 6px, 10px, 10px, 6px;

    .company-logo {
        float: left;
        margin-right: 10px;

        img {
            border: 0;
        }
    }

    .text-box {
        float: left;

        h2 {
            // margin: 0 0 15px 0;

        }

        p {
            margin: 0;
        }

        .button {
            background-color: burlywood;
            width: 115px;
            border-radius: 3px;
        }
    }

}

.sphere {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 25px;
    text-decoration: none;

    a {
        text-decoration: none;
        color: white;

    }
}

.company-detail {
    margin: 15px 0;
    padding: 20 5px;
    border: 1px solid #bbb;

    h2 {
        font-size: 22px;
        margin: 0 0 15px;
    }

    p {
        font-size: 20px;
        margin: 0 0 15px;
    }
}

p {
    margin: 0;
}

.job-listing-framework {
    margin-bottom: 20px;
    // width: 820px;
    background-color: #bbb;
}


.job-listing-content {
    position: relative;
    // width: 820px;
    background-color: #eee;
    // 

    .company-logo {
        width: 100px;
        margin-right: 10px;
        float: left;
        border: solid rgb(176, 176, 176);
    }

    .icon {
        position: absolute;
        top: 0;
        right: 0;
    }

    .job-detail {
        overflow: hidden;
        padding-left: 20px;
        float: left;
        overflow: hidden;

        .company {
            a {
                text-decoration: none;
            }

        }

        p {
            margin: 0;
            text-align: justify;
            padding-right: 15px;
        }
    }

    h2 {
        margin: 0;

    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    scroll-padding-block: 0;

    li {
        float: left;

        .icon-location2 {
            margin-right: 50px;
        }

        .icon-money {
            margin-right: 385px;
        }
    }
}

.share-frame {
    overflow: hidden;
    background-color: #bbb;
    // width: 820px;
    padding: 10px;

    .left-content {
        float: left;
        right: 0;
    }

    .right-content {
        float: right;

        button {
            text-decoration: none;
            cursor: pointer;
            font-size: 20px;

        }

        .apply {
            background-color: #d5570c;
            color: white;
            border-radius: 5px;
            border-color: none;
            margin: 0 20px;

        }

        .view {
            color: #d5570c;
            margin: 0 20px;
        }

        .share {
            margin-right: 15px;
        }
    }
}

.icon-star-full {
    font-size: 22px;
}

.job-listing-box {
    display: flex;
    // overflow: hidden;

    .job-listing {
        // width: 820px;
        // float: left;
    }
}

.double {
    padding: 20px;
}

.right-side {
    // width: 350px;
    float: left;
    margin-left: 30px;

    .feature-block {
        .first {
            .email{
                font-size: 15px;
                margin-bottom: 20px;
            }
            .alert{
                margin-top: 15px;
                a{
                    display: block;
                    color: white;
                    background-color: #d5570c;padding: 10px;
                    text-decoration: none;
                    font-size: 20px;
                    font-weight: 100;
                }
            }
            margin-top: 10px;
            background-color: white;
            text-align: center;
            padding: 20px;
            h4 {
                font-size: 25px;
                margin: 0 auto 10px;
            }

            .CV {
                text-align: center;
                max-width: 100%;
                margin: 0 auto;
                background-color: white;
                border: 2px  solid;
                border-color: #f36f21;
                margin-bottom: 15px;

                a {
                    padding: 10px;
                    display: block;
                    font-size: 18px;
                    color: #f36f21;
                    text-decoration: none;

                }
            }

            .or {
                position: relative;
                padding: 10px 0;
                margin-top: 20px;

                hr {
                    height: 5px;
                    background-color: black;
                    margin: 0;
                }

                p {
                    position: absolute;
                    top: 0;
                    right: 44%;
                    background-color: white;
                    margin: 0 10px;
                    width: 30px;
                }

                
            }
        }
    }

}
.register {
    padding: 10px 0 20px;

    a {
        text-decoration: none;
        color: #d5570c;
        font-size: 25px;
    }
}