* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    
    overflow: hidden;
    background-size: cover;
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#form {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 5% 30%;
    border-radius: 10px;
    padding: 10px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

label {
    font-weight: 700;
}

.input-holder input, .choose select {
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    font-size: 20px;
    padding: 6px 10px;
    display: block;
    line-height: 28px;
    border: 1px solid rgb(105, 94, 94);

}

.input-holder label {
    font-size: 20px;
}

.col-holder .input-holder {
    float: left;
    width: 50%;
    padding: 0 20px;
}

select {
    font-size: 20px;
    width: 100%;
}

.comment input {
    height: 200px;
    width: 100%;
    border-radius: 10px;
    font-size: 20px;
}

.botton input {
    width: 30%;
    height: 50px;
    font-size: 20px;
    margin-top: 5px;
    background-color: red;
}

select option:first-child {
    display: none;
}

.comment textarea {
    width: 100%;
    height: 150px;
}

.botton {
    text-align: center;
}

textarea {
    height: 150px;
    min-height: 150px;
    resize: vertical;
}

.col-holder {
    overflow: hidden;
    margin: 0-20px;
}
.if{
    width: 100%;
    overflow: hidden;
    
}
.map-holder {
    overflow: hidden;
    float: left;
    position: relative;
    max-width: auto;
    background: red;
    padding-bottom: 30%;
    width: 50%;

}

.map-holder iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.youtube {
    float: left;
    width: 50%;
    position: relative;
    max-width: auto;
    background: blue;
    padding-bottom: 30%;

}

.youtube iframe {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.map-link{
    position: absolute;
    background-color: aqua;
    top: 5%;
    left: 5%;
    padding: 5px;
}
ul {
    text-align: center;
    padding: 40px 0;
    background: black;
}
ul li {
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
}
ul li a {
    color: white;
    text-decoration: none;
}
ul li a:hover {
    color: brown;
}