//For Desktop 1920×1080 (8.89%), 
//For Tablet 1366×768 (8.44%) 
//For Mobile 360×640 (7.28%)
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?1672qz');
    src: url('../fonts/icomoon.eot?1672qz#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?1672qz') format('truetype'),
        url('../fonts/icomoon.woff?1672qz') format('woff'),
        url('../fonts/icomoon.svg?1672qz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
    content: "\e903";
    // color: #e4405f;
}

.icon-twitter1:before {
    content: "\e904";
    // color: #1da1f2;
}

.icon-messenger:before {
    content: "\e900";
    // color: #00b2ff;
}

.icon-facebook:before {
    content: "\ea90";
}

.icon-youtube:before {
    content: "\ea9d";
}

.icon-linkedin:before {
    content: "\eac9";
}



* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

div {
    display: block;
}

a {
    text-decoration: none;
    color: black;
}

body {
    margin: 0;
}

.is-active {
    display: block;
    display: table-cell;
}

.nav-area {
    background-color: #eaeaea;
    // margin-bottom: 10px;

    .header-holder {
        padding: 10px 0;
        margin: 0 auto;
        max-width: 1400px;
        overflow: hidden;
        background-color: #eaeaea;

        .logo {
            float: left;
            width: 210px;

        }

        .navigation {
            float: right;
            margin: auto;

            ul {
                list-style: none;
                overflow: hidden;
                margin: 0;
                padding: 0;
                text-align: right;


                li {
                    display: inline-block;
                    // float: left;
                    list-style: none;
                    padding-left: 35px;

                    a {
                        color: black;
                    }

                    @media all and (max-width: 720px) {
                        a {
                            // color: red;
                        }
                    }

                    a:hover {
                        color: #f36f21;
                    }

                }

                li:hover {
                    color: #f36f21;
                }

            }

            .navtop {
                // padding-left: 409px;
                font-size: 18px;
                border-bottom: 1px solid black;
                width: 100%;
                display: inline-block;

            }

            .nav {
                font: 600;
                font-size: 20px;
                width: 100%;

            }


        }

        .menu {
            font-size: 25px;
            display: block;
            float: right;
            margin-right: 20px;

        }

        .menu:hover {
            a {
                color: #f36f21;
            }
        }

        @media(min-width: 720px) {
            .menu {
                display: none;
            }
        }


    }
}

.blog {
    padding: 20px 0;
    position: relative;
    overflow: hidden;
    color: #fff;
    text-align: center;

    .background {

        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .blog-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
    }

    p {
        margin: 0 0 15px;
    }
}

.blog-listing-holder {
    background-color: #FFFFFF;
    margin-top: 20px;

    .container {
        max-width: 1200px;
        margin: 0 auto;
        // background-color: greenyellow;


    }




}

.blog-listing {

    .blog-list {
        display: flex;
        overflow: hidden;
        font-size: 15px;
        position: relative;
        margin-top: 50px;
        // @media(max-width: 720px){
        //     display: block;
        // }

        .date {
            // float: left;
            text-align: center;
            // width: 80px;
            // width: 10%;

            .month {
                border-bottom: 1px solid black;
            }

        }

        .image {
            // float: left;
            max-width: 30%;
            // max-width: 400px;

        }

        .detail {
            // display: flex;
            // float: left;
            // overflow: hidden;
            // width: 60%;
            margin-left: 10px;


            h1 {
                font-size: 25px;
                margin: 0;
                text-align: justify;

                a:hover {
                    color: black;
                }

                a {

                    color: #f36f21;
                }
            }

            p {
                font-size: 17px;
                text-align: justify;
            }

            .read-more:hover {
                background-color: #f36f21;
            }

            .read-more {
                border: 1px solid #f36f21;
                width: 100px;
                border-radius: 5px;

                a {
                    // background-color: white;
                    display: block;
                    color: #f36f21;
                    padding: 5px;
                    text-align: center;
                }

                a:hover {
                    color: white;
                }
            }
        }

    }
}

//footer style



.footer {
    margin: 10px 0;
    background-color: #DDDDDD;


    .container {
        padding: 0 20px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .footer-holder {
        letter-spacing: -4px;
        font-size: 0;
        display: flex;
        flex-wrap: wrap;

    }

    .footer-nav1 {
        // border-left: solid;
        // display: flex;
        font-size: 15px;
        letter-spacing: 0;
        padding: 0 20px 20px;
        // display: inline-block;
        width: 350px;

        // vertical-align: top;
        h1 {
            font-weight: 700;
            margin-bottom: 10px;
        }

        p {
            text-align: justify;
        }
    }

    .footer-nav2 {
        border-left: 1px solid;
        // display: flex;
        font-size: 15px;
        letter-spacing: 0px;
        padding: 0 20px 20px;
        width: 230px;

        // display: inline-block;
        // width: ;

    }

    ul {
        list-style: none;
        padding: 0;

        li {
            margin-top: 5px;

            a {
                transition: 1s;
                color: black;
                text-decoration: none;
            }

            a:hover {
                color: red;
            }
        }
    }

    .footer-nav3 {
        border-left: 1px solid;
        // display: flex;
        font-size: 15px;
        letter-spacing: 0px;
        padding: 0 20px 20px;
        width: 350px;
    }

    .icon {
        border: 1px solid;
        padding: 10px;
        overflow: hidden;

        .social {
            float: left;
            padding: 10px;
            display: block;

            a {
                text-decoration: none;
                // width: 0;
                margin: 6px;
                display: inline-block;

                span {
                    // display: block;
                    padding: 5px;
                    font-size: 18px;
                    border: 1px solid;
                    // margin-left: 10px;
                }
            }
        }
    }

    .container {
        overflow: hidden;

        .middle {
            margin-left: 70px;
            float: left;

            ul {
                margin: 0;

                .li1 {
                    border: none;
                }

                li {
                    position: relative;
                    margin: 3px;
                    float: left;

                    &:first-child {
                        &::before {
                            display: none;
                        }
                    }

                    // &:nth-child(3) {
                    //     background-color: white;
                    // }

                    // border-left: 1px solid;
                    a {
                        margin-left: 3px;
                    }

                    &:before {
                        position: absolute;
                        background-color: black;
                        content: ' ';
                        width: 1px;
                        height: 10px;
                        top: 50%;
                        left: 0;
                        margin-top: -5px;

                    }
                }
            }
        }
    }

    .logo {
        float: right;
        width: 200px;
    }
}

@media all and (max-width: 1012px) {
    .nav-area {
        .header-holder {
            overflow: hidden;

            .navigation {
                float: right;
                width: 500px;

                ul {

                    li {
                        padding-left: 10px;

                        a {
                            // padding: 5px;
                        }
                    }

                    .logo {
                        width: 200px;

                        img {
                            width: 200px;
                        }
                    }
                }
            }
        }
    }
}

@media(min-width:720px) {

    .header-holder {
        .navigation {
            display: block;
        }
    }
}

@media all and (max-width: 720px) {
    .menu {
        display: block;
    }




    .blog {
        color: red;
    }

    .blog-listing {

        .blog-list {
            display: block;
            width: 100%;
            margin-top: 20px;

            .date {
                float: left;
                width: 100px;
                color: #f36f21;

            }


            .image {
                // display: flex;
                float: left;
                // width: 620px;
                min-width: 200px;
                padding-right: 10px;

                img {
                    display: table-cell;
                    vertical-align: top;
                    // min-width: 320px;
                    padding-left: 0;
                    padding-bottom: 0;
                }
            }

            .detail {
                margin: 0%;
                overflow: hidden;
                // float: none;
                display: block;
                width: 100%;
                padding: 0 20px 0 100px;

                p {
                    margin: 0 0 2px;
                }

            }
        }

    }

    .header-holder {
        .navigation {
            display: none;

        }

    }
}